<div class="limiter">
    <div class="container-login100">

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <div class="login100-more" style="background-image: url('assets/images/dangky.jpg');"></div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login100-form validate-form">
                <span class="login100-form-title p-b-59">
                    Đăng ký
                </span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Họ tên</span>
                    <input class="input100" type="text" formControlName="tenTk" [ngClass]="{ 'is-invalid': submitted && f.tenTk.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="alert-valid" *ngIf="submitted && f.tenTk.errors">
                    <span *ngIf="f.tenTk.errors.required">Vui lòng nhập họ tên</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <span class="label-input100">Địa chỉ</span>
                    <input class="input100" type="text" formControlName="diachi" [ngClass]="{ 'is-invalid': submitted && f.diachi.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="alert-valid" *ngIf="submitted && f.diachi.errors">
                    <span *ngIf="f.diachi.errors.required">Vui lòng nhập địa chỉ</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <span class="label-input100">Số điện thoại</span>
                    <input class="input100" type="text" formControlName="sdt" [ngClass]="{ 'is-invalid': submitted && f.sdt.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="alert-valid" *ngIf="submitted && f.sdt.errors">
                    <span *ngIf="f.sdt.errors.required">Vui lòng nhập số điện thoại</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <span class="label-input100">Mật khẩu</span>
                    <input class="input100" type="password" name="pass" formControlName="matkhau" [ngClass]="{ 'is-invalid': submitted && f.matkhau.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="alert-valid" *ngIf="submitted && f.matkhau.errors">
                    <span *ngIf="f.matkhau.errors.required">Vui lòng nhập mật khẩu</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
                    <span class="label-input100">Nhập lại mật khẩu</span>
                    <input class="input100" type="password" name="repeat-pass" formControlName="matkhau" [ngClass]="{ 'is-invalid': submitted && f.matkhau.errors }">
                    <span class="focus-input100"></span>
                </div>
                <div class="alert-valid" *ngIf="submitted && f.matkhau.errors">
                    <span *ngIf="f.matkhau.errors.required">Vui lòng nhập mật khẩu xác nhận</span>
                    <span *ngIf="f.matkhau.errors.matkhau">Mật khẩu xác nhận không khớp</span>
                </div>

                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            <span class="txt1">
                                Tôi đồng ý với các điều khoản trên
                                <a href="#" class="txt2 hov1">
                                    Điều khoản của người dùng
                                </a>
                            </span>
                        </label>
                    </div>

                    
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Đăng ký
                        </button>
                    </div>

                    <a [routerLink]="['/dang-nhap']" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Đăng nhập
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>