<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Đăng nhập để tiếp tục
                </span>
                
                
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input formControlName="username" class="input100" type="text" name="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Tên tài khoản</span>
                </div>
                
                
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input formControlName="password" class="input100" type="password" name="pass">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Mật khẩu</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" >
                        <label class="label-checkbox100" for="ckb1" >
                            Tôi đồng ý
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Quên mật khẩu?
                        </a>
                    </div>
                </div>
        

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Đăng nhập
                    </button>
                </div>
                
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        hoặc đăng ký bằng cách sử dụng
                    </span>
                </div>

                <div class="login100-form-social flex-c-m">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i aria-hidden="true"><img style="width:100px;height:70px;" src="assets/images/facebook.jpg" alt="" /></i>
                    </a>

                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i aria-hidden="true"><img style="width:100px;height:70px;" src="assets/images/chim.jpg" alt="" /></i>
                    </a>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');">
               
            </div>
        </div>
    </div>
</div>