<div class="page_header gmap">
    <div id="map">
        <img src="assets/images/ggmap.jpg" alt=""/>
    </div>
    <div class="container">
        <ul class="bcrumbs">
            <li><a href="index.html">Trang chủ</a>
            </li>
            <li>Liên hệ </li>
        </ul>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="side-widget">
                    <h5>Liên hệ với chúng tôi</h5>
                    <form id="contact-form">
                        <input type="text" placeholder="Họ tên ứng viên">
                        <input type="email" placeholder="Địa chỉ email">
                        <input type="text" placeholder="Tiêu đề">
                        <textarea placeholder="Nội dung yêu cầu"></textarea>
                        <button type="submit">Gửi tin nhắn</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="side-widget c-info">
                    <h5>Địa điểm văn phòng của chúng tôi</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="large-text">Địa chỉ liên hệ</p>
                            <p>49 Lê Thanh Nghị, Hai Bà Trưng
                                <br> Hà Nội, Việt Nam
                                <br>Số điện thoại: 033 784 7526
                                <br>Facebook: https://www.facebook.com/tuyendung365/</p>
                            <div class="space20 clearfix"></div>
                            <p class="large-text">Nguyễn Hương Giang</p>
                            <a href="mailto:first.last@example.com">tuyendung@gmail.com</a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p class="large-text">Địa chỉ liên hệ</p>
                            <p>49 Lương Ngọc Quyến , Quận Hoàn Kiếm
                                <br>Hà Nội, Việt Nam
                                <br>Số điện thoại: 033 4167 227
                                <br>Facebook: https://www.facebook.com/tuyendung365/</p>
                            <div class="space20 clearfix"></div>
                            <p class="large-text">Lâm Vỹ Dạ</p>
                            <a href="mailto:first.last@example.com">tuyendung@gmail.com</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="large-text">Địa chỉ liên hệ</p>
                            <p>Số 129 Hồ Đắc Di, Đống Đa
                                <br>Hà Nội, Việt Nam
                                <br>Số điện thoại: 0963 003 542
                                <br>Facebook: https://www.facebook.com/tuyendung365/</p>
                            <div class="space20 clearfix"></div>
                            <p class="large-text">Ninh Dương Lan Ngọc</p>
                            <a href="mailto:first.last@example.com">tuyendung24h2@gmail.com.com</a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p class="large-text">Địa chỉ liên hệ</p>
                            <p>Số 7 Tạ Quang Bửu, Hai Bà Trưng 
                                <br>Hà Nội, Việt Nam
                                <br>Số điện thoại: 0963 000 999
                                <br>Facebook: https://www.facebook.com/tuyendung365/</p>
                            <div class="space20 clearfix"></div>
                            <p class="large-text">Huỳnh Trấn Thành</p>
                            <a href="mailto:first.last@example.com">tuyendungnhanh@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
