<div class="intro" data-stellar-background-ratio="0.55">
    <div class="container">
        <div class="text-center">
            <h2>Một tìm kiếm, Triệu việc làm</h2>
            <p class="lead">Thành công lớn nhất của con người là tìm được công việc yêu thích,đam mê</p>
        </div>
        <form class="intro-search" [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Nhập tên việc làm, vị trí... " formControlName="key_name">
            <select formControlName="type">
                <option *ngFor="let item of loaicvs" value="{{item.maloaiCv}}">{{item.tenloaiCv}}</option>
            </select>
            <button type="submit">Tìm kiếm <img src="assets/images/icons/search.png" alt="" /> </button>
        </form>
    </div>
</div>
 <!-- end: Intro search section -->
        <!-- start: Featured entries carousel -->
    <div class="wrapper">  
        <div class="content-wrapper">

            <!-- BEGIN .composs-main-content -->
            <div class="composs-main-content composs-main-content-s-1">

                <!-- BEGIN .composs-panel -->
                <div class="composs-panel">

                    <div class="composs-panel-title composs-panel-title-tabbed">
                        <strong class="active">Todays hottest articles</strong>
                    </div>

                    <div class="composs-panel-inner">
                        <div class="composs-panel-tab active">
                            <div class="composs-article-split-block">
                                <div class="item-small">
                                    <div class="item" *ngFor="let item of loaicvtype1">
                                        <div class="item-header">
                                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                            <a href="post.html"><img src="assets/images/{{item.anh}}" alt=""/></a>
                                        </div>
                                        <div class="item-content">
                                            <h2><a href="post.html">{{item.tenCv}}</a></h2>
                                            <span class="item-meta">
                                                    <span class="item-meta-item"><i class="material-icons">access_time</i>{{item.ngaydang}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- END .composs-panel -->
                </div>

                <!-- BEGIN .composs-panel -->
                <div class="composs-panel">

                    <div class="composs-panel-title composs-panel-title-tabbed">
                        <strong class="active">Latest reviews</strong>
                    </div>

                    <div class="composs-panel-inner">
                        <div class="composs-panel-tab active">

                            <div class="composs-article-list lets-do-3 lets-do-slider">

                                <div class="item" *ngFor="let item of loaicvtype2">
                                    <div class="item-header">
                                        <a href="#" class="img-read-later-button">Read later</a>
                                        <a href="post.html"><img src="assets/images/{{item.anh}}" alt="" /></a>
                                    </div>
                                    <div class="item-content">
                                        <h2><a href="post.html">{{item.tenCv}}</a></h2>
                                        <span class="item-meta">
                                                <span class="item-meta-item"><i class="material-icons">access_time</i>{{item.ngaydang}}</span>
                                        <a href="post.html#comments" class="item-meta-item"><i class="material-icons">chat_bubble_outline</i>35</a>
                                        </span>
                                        <span class="item-stars"><span class="stars-inner" data-ot-css="width: 80%;"></span></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- END .composs-panel -->
                </div>

                <!-- BEGIN .composs-panel -->
                <div class="composs-panel">

                    <div class="composs-panel-title">
                        <strong>Most recent articles</strong>
                    </div>

                    <div class="composs-panel-inner">

                        <div class="composs-blog-list lets-do-1">

                            <div class="item" *ngFor="let item of loaicvtype3">
                                <div class="item-header">
                                    <a href="#" class="img-read-later-button">Read later</a>
                                    <a href="post.html"><img src="assets/images/{{item.anh}}" alt="" /></a>
                                </div>
                                <div class="item-content">
                                    <h2><a href="post.html">{{item.tenCv}}</a></h2>
                                    <span class="item-meta">
                                            <span class="item-meta-item"><i class="material-icons">access_time</i>{{item.ngaydang}}</span>
                                    <a href="post.html#comments" class="item-meta-item"><i class="material-icons">chat_bubble_outline</i>35</a>
                                    </span>
                                    <p>{{item.motaCv}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- END .composs-panel -->
                </div>

                <!-- END .composs-main-content -->
            </div>

            <!-- BEGIN #sidebar -->
            <aside id="sidebar">
                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Socialize</h3>
                    <div class="widget-content ot-w-socialize">
                        <a href="#" class="ot-color-hover-facebook"><i class="fa fa-facebook"></i><span><i>13 956</i> fans</span></a>
                        <a href="#" class="ot-color-hover-twitter"><i class="fa fa-twitter"></i><span><i>2 042</i> followers</span></a>
                        <a href="#" class="ot-color-hover-google-plus"><i class="fa fa-google-plus"></i><span><i>184</i> followers</span></a>
                        <a href="#" class="ot-color-hover-youtube"><i class="fa fa-youtube-play"></i><span><i>502</i> subscribers</span></a>
                        <a href="#" class="ot-color-hover-rss"><i class="fa fa-rss"></i><span><i>2 831</i> rss feeders</span></a>
                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
                <div class="widget">
                    <div class="widget-content">
                        <a href="#" target="_blank"><img src="assets/images/o2.jpg" alt="" /></a>
                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Popular articles</h3>
                    <div class="widget-content ot-w-article-list">

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                <a href="post.html"><img src="assets/images/photos/image-17.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">3 Generations Of Young Skywalkers Is The Path To So Many Feels</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                <a href="post.html"><img src="assets/images/photos/image-18.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">Meet DC's Legends of Tomorrow: Vandal Savage</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                <a href="post.html"><img src="assets/images/photos/image-19.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">YOU DECIDE: The Best Movie of 2015 - Final Four!</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                <a href="post.html"><img src="assets/images/photos/image-20.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">How Our Favorite Disney Characters Would look In Classic Paintings</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Recent comments</h3>
                    <div class="widget-content ot-w-comments-list">

                        <div class="item">
                            <div class="item-header">
                                <a href="#"><img src="assets/images/photos/avatar-2.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="#">Orange Themes</a></h4>
                                <p>Cum an officiis integebat neces sitat bus, impedi tes...</p>
                                <span class="item-meta">
                                        <a href="post.html" class="item-meta-item meta-button">View article <i class="fa fa-caret-right"></i></a>
                                    </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <img src="assets/images/no-avatar-50.jpg" alt="" />
                            </div>
                            <div class="item-content">
                                <h4><a href="#">Leesa Valarie</a></h4>
                                <p>Cum an officiis integebat neces sitat bus, impedi tes...</p>
                                <span class="item-meta">
                                        <a href="post.html" class="item-meta-item meta-button">View article <i class="fa fa-caret-right"></i></a>
                                    </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#"><img src="assets/images/photos/avatar-2.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="#">Orange Themes</a></h4>
                                <p>Cum an officiis integebat neces sitat bus, impedi tes...</p>
                                <span class="item-meta">
                                        <a href="post.html" class="item-meta-item meta-button">View article <i class="fa fa-caret-right"></i></a>
                                    </span>
                            </div>
                        </div>

                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="blog.html">Dignissim</a>
                        <a href="blog.html">Habeo quods</a>
                        <a href="blog.html">Sumo</a>
                        <a href="blog.html">Prima dicunt</a>
                        <a href="blog.html">Scripser</a>
                        <a href="blog.html">Dignissim</a>
                        <a href="blog.html">Habeo quods</a>
                        <a href="blog.html">Sumo</a>
                        <a href="blog.html">Prima dicunt</a>
                        <a href="blog.html">Scripser</a>
                        <a href="blog.html">Dignissim</a>
                        <a href="blog.html">Habeo quods</a>
                    </div>
                    <!-- END .widget -->
                </div>


                
            </aside>

        </div>
    </div>
        <!-- end: Featured entries carousel -->
        <div class="home-directory">
            <div class="container">
                <div class="section-head text-center">
                    <h3>Best rated services & offers</h3>
                    <p class="lead">Explore some of the best place around your place and leave a review.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="listing mob-space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/home/1.jpg">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue, Apt. 303 New York,</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.8</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="listing mob-space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/home/2.jpg">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue, Apt. 303 New York,</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.9</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="listing">
                            <div class="listing-img bg-image" data-image-src="assets/images/home/3.jpg">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue New York</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.7</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-content bg-image" data-image-src="assets/images/parallax/1.jpg" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <h3>Promote your business today and get discount of 50%</h3>
                        <div class="space30"></div> <a href="#" class="btn btn-default btn-lg">Sign up for an account</a> </div>
                </div>
            </div>
        </div>
        <div class="home-testimonials">
            <div class="container">
                <div class="section-head text-center">
                    <h3>What our community is saying</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="quote text-center"> <img src="assets/images/quotes/1.png" class="center-block" alt="" />
                            <p>Nothing draws a crowd
                                <br>quite like a crowd. </p> <cite>&ndash; P.T. Barnum</cite> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="quote text-center"> <img src="assets/images/quotes/2.png" class="center-block" alt="" />
                            <p>Nothing draws a crowd
                                <br>quite like a crowd. </p> <cite>&ndash; P.T. Barnum</cite> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="quote text-center"> <img src="assets/images/quotes/3.png" class="center-block" alt="" />
                            <p>Nothing draws a crowd
                                <br>quite like a crowd. </p> <cite>&ndash; P.T. Barnum</cite> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-news">
            <div class="container">
                <div class="section-head text-center">
                    <h3>News & Updates</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="post">
                            <div class="post-thumb bg-image" data-image-src="assets/images/home/blog/1.jpg">
                                <a href="#">
                                    <div class="post-badge">Promotion</div>
                                </a>
                            </div>
                            <div class="post-detail">
                                <time datetime="2008-02-14 20:00">March 20 2016</time>
                                <h4><a href="#">How to promote your <br>business</a></h4> <a href="#" class="post-like">256</a> <a href="#" class="post-views">1255</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="post">
                            <a href="#" class="post-thumb bg-image" data-image-src="assets/images/home/blog/2.jpg"></a>
                            <div class="post-detail">
                                <time datetime="2008-02-14 20:00">March 20 2016</time>
                                <h4><a href="#">10 tips for your business <br>routine</a></h4> <a href="#" class="post-like">256</a> <a href="#" class="post-views">1255</a> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="post">
                            <a href="#" class="post-thumb bg-image" data-image-src="assets/images/home/blog/3.jpg"></a>
                            <div class="post-detail">
                                <time datetime="2008-02-14 20:00">March 20 2016</time>
                                <h4><a href="#">Dont forget to leave 5 star <br>ratings</a></h4> <a href="#" class="post-like">256</a> <a href="#" class="post-views">1255</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        