<div class="intro" data-stellar-background-ratio="0.55">
    <div class="container">
        <div class="text-center">
            <h2>Một tìm kiếm, Triệu việc làm</h2>
            <p class="lead">Thành công lớn nhất của con người là tìm được công việc yêu thích,đam mê</p>
        </div>
        <form class="intro-search" [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Nhập tên việc làm, vị trí... " formControlName="key_name">
            <select formControlName="type">
                <option>Chọn ngành</option>
                <option *ngFor="let item of loaicvs" value="{{item.maloaiCv}}">{{item.tenloaiCv}}</option>
            </select>
            <button type="submit">Tìm kiếm <img src="assets/images/icons/search.png" alt="" /> </button>
        </form>
    </div>
</div>
 <!-- end: Intro search section -->
        <!-- start: Featured entries carousel -->
    <div class="wrapper">  
        <div class="content-wrapper">

            <!-- BEGIN .composs-main-content -->
            <div class="composs-main-content composs-main-content-s-1">

                <!-- BEGIN .composs-panel -->
                <div class="composs-panel">

                    <div class="composs-panel-title composs-panel-title-tabbed">
                        <strong class="active">Giáo Dục - Đào Tạo</strong>
                    </div>

                    <div class="composs-panel-inner">
                        <div class="composs-panel-tab active">
                            <div class="composs-article-split-block">
                                <div class="item-small">
                                    <div class="item" *ngFor="let item of loaicvtype1">
                                        <div class="item-header">
                                            <a href="#" class="img-read-later-button rm-btn-small">Viêc làm mới</a>
                                            <a [routerLink]="['chi-tiet-tin', item.maCv]"><img src="assets/images/{{item.anh}}" alt=""/></a>
                                        </div>
                                        <div class="item-content">
                                            <h2><a [routerLink]="['chi-tiet-tin', item.maCv]">{{item.tenCv}}</a></h2>
                                            <h2 style="font-weight: 300;">{{item.tencongty}}</h2>
                                            <h2 style="font-weight: 300;">{{item.diachi}}</h2>
                                            <span class="item-meta">
                                                   
                                                    <a href="post.html#comments" class="item-meta-item"><i class="material-icons"></i>Mức lương: {{item.mucluong}}</a>
                                                    <a href="post.html#comments" class="item-meta-item"><span class="post-views">Lượt xem: {{item.luotxem}}</span></a>
                                                    <br>
                                                    <br>
                                                    <span class="item-meta-item"><i class="material-icons"></i>{{item.ngaydang}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- END .composs-panel -->
                </div>

                <!-- BEGIN .composs-panel -->
                <div class="composs-panel">

                    <div class="composs-panel-title composs-panel-title-tabbed">
                        <strong class="active">Xuất khẩu lao động</strong>
                    </div>

                    <div class="composs-panel-inner">
                        <div class="composs-panel-tab active">

                            <div class="composs-article-list lets-do-3 lets-do-slider">

                                <div class="item" *ngFor="let item of loaicvtype2">
                                    <div class="item-header">
                                        <a href="#" class="img-read-later-button">Viêc làm mới</a>
                                        <a [routerLink]="['chi-tiet-tin', item.maCv]"><img src="assets/images/{{item.anh}}" alt="" /></a>
                                    </div>
                                    <div class="item-content">
                                        <h2><a [routerLink]="['chi-tiet-tin', item.maCv]">{{item.tenCv}}</a></h2>
                                        <h2 style="font-weight: 300;">{{item.tencongty}}</h2>
                                            <h2 style="font-weight: 300;">{{item.diachi}}</h2>
                                        <span class="item-meta">
                                            <a href="post.html#comments" class="item-meta-item"><i class="material-icons"></i>Mức lương: {{item.mucluong}}</a><br>
                                                <span class="item-meta-item"><i class="material-icons"></i>{{item.ngaydang}}</span>
                                                <a href="post.html#comments" class="item-meta-item"><span class="post-views">Lượt xem: {{item.luotxem}}</span></a>
                                        </span>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- END .composs-panel -->
                </div>

                <!-- BEGIN .composs-panel -->
                <div class="composs-panel">

                    <div class="composs-panel-title">
                        <strong>Bảo hiểm</strong>
                    </div>

                    <div class="composs-panel-inner">

                        <div class="composs-blog-list lets-do-1">

                            <div class="item" *ngFor="let item of loaicvtype3">
                                <div class="item-header">
                                    <a href="#" class="img-read-later-button">Viêc làm mới</a>
                                    <a [routerLink]="['chi-tiet-tin', item.maCv]"><img src="assets/images/{{item.anh}}" alt="" /></a>
                                </div>
                                <div class="item-content">
                                    <h2><a [routerLink]="['chi-tiet-tin', item.maCv]">{{item.tenCv}}</a></h2>
                                    <h2 style="font-weight: 300;">{{item.tencongty}}</h2>
                                    <h2 style="font-weight: 300;">{{item.diachi}}</h2>
                                    <span class="item-meta">
                                        <a href="post.html#comments" class="item-meta-item"><i class="material-icons"></i>Mức lương: {{item.mucluong}}</a><br>
                                            <span class="item-meta-item"><i class="material-icons"></i>{{item.ngaydang}}</span>
                                            <a href="post.html#comments" class="item-meta-item"><span class="post-views">Lượt xem: {{item.luotxem}}</span></a>
                                    </span>
                                    <p>{{item.motaCv}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- END .composs-panel -->
                </div>

                <!-- END .composs-main-content -->
            </div>

            <!-- BEGIN #sidebar -->
            <aside id="sidebar">
                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Lượt theo dõi</h3>
                    <div class="widget-content ot-w-socialize">
                        <a href="#" class="ot-color-hover-facebook"><span><i>13 956</i> fans</span></a>
                        <a href="#" class="ot-color-hover-twitter"><span><i>2 042</i> followers</span></a>
                        <a href="#" class="ot-color-hover-google-plus"><span><i>184</i> followers</span></a>
                        <a href="#" class="ot-color-hover-youtube"><span><i>502</i> subscribers</span></a>
                        <a href="#" class="ot-color-hover-rss"><span><i>2 831</i> rss feeders</span></a>
                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
                <div class="widget">
                    <div class="widget-content">
                        <a href="#" target="_blank"><img src="assets/images/o2.jpg" alt="" /></a>
                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Việc làm hot</h3>
                    <div class="widget-content ot-w-article-list">

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Viêc làm mới</a>
                                <a href="post.html"><img src="assets/images/photos/image-17.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">3 Generations Of Young Skywalkers Is The Path To So Many Feels</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Viêc làm mới</a>
                                <a href="post.html"><img src="assets/images/photos/image-18.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">Meet DC's Legends of Tomorrow: Vandal Savage</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Viêc làm mới</a>
                                <a href="post.html"><img src="assets/images/photos/image-19.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">YOU DECIDE: The Best Movie of 2015 - Final Four!</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-header">
                                <a href="#" class="img-read-later-button rm-btn-small">Viêc làm mới</a>
                                <a href="post.html"><img src="assets/images/photos/image-20.jpg" alt="" /></a>
                            </div>
                            <div class="item-content">
                                <h4><a href="post.html">How Our Favorite Disney Characters Would look In Classic Paintings</a></h4>
                                <span class="item-meta">
                                        <span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <!-- END .widget -->
                </div>

                <!-- BEGIN .widget -->
               

                <!-- BEGIN .widget -->
                <div class="widget">
                    <h3>Các ngành nghề</h3>
                    <div class="tagcloud">
                        <a href="blog.html">Bảo hiểm</a>
                        <a href="blog.html">Giáo dục-Đào tạo </a>
                        <a href="blog.html">Xuất khẩu lao động</a>
                        <a href="blog.html">Xây dựng</a>
                        <a href="blog.html">Y tế-Dược</a>
                        <a href="blog.html">Lao động</a>
                        <a href="blog.html">IT Phần mềm</a>
                        <a href="blog.html">Kế toán kiểm toán </a>
                        <a href="blog.html">Giao thông-Vận tải</a>
                        <a href="blog.html">Giúp việc</a>
                        <a href="blog.html">Kinh doanh</a>
                        <a href="blog.html">Dệt-May đo</a>
                    </div>
                    <!-- END .widget -->
                </div>


                
            </aside>
        </div>
        <!-- end: Featured entries carousel -->
        <div class="home-directory">
            <div class="container">
                <div class="section-head text-center">
                    <h3>Best rated services & offers</h3>
                    <p class="lead">Explore some of the best place around your place and leave a review.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="listing mob-space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/home/1.jpg">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue, Apt. 303 New York,</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.8</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="listing mob-space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/home/2.jpg">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue, Apt. 303 New York,</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.9</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="listing">
                            <div class="listing-img bg-image" data-image-src="assets/images/home/3.jpg">
                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Central Restaurant</a></h4>
                                <ul class="list-icon">
                                    <li> <i class="pe-7s-map-marker"></i> 45 Park Avenue New York</li>
                                    <li> <i class="pe-7s-call"></i> 001 (917) 555-4836</li>
                                    <li> <i class="pe-7s-mail"></i> <a href="mailto:new_york@mail.com">new_york@mail.com</a> </li>
                                </ul>
                                <div class="list-ratings">4.7</div>
                            </div>
                        </div>
                        <!-- end: Listing item -->
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-content bg-image" data-image-src="assets/images/parallax/1.jpg" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <h3>Một tìm kiếm triệu việc làm </h3>
                        <div class="space30"></div> <a href="#" class="btn btn-default btn-lg">Đăng ký tài khoản</a> </div>
                </div>
            </div>
        </div>
        <div class="home-testimonials">
            <div class="container">
                <div class="section-head text-center">
                    <h3>Nhà tuyển dụng</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="quote text-center"> <img src="assets/images/anh1.jpg"  alt="" />
                            <p>FPT Software
                                <br>Nơi đáng tin cậy của mọi người </p> <cite>&ndash; NGUYỄN HỮU ĐÔNG</cite> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mob-space30">
                        <div class="quote text-center"> <img src="assets/images/anh2.jpg"  alt="" />
                            <p>ELDER DEVELOPMENT
                                <br>Nhiều công việc mới </p> <cite>&ndash; TRỊNH THỊ NHỊ</cite> </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
                        <div class="quote text-center"> <img src="assets/images/anh3.jpg"  alt="" />
                            <p>TUYỂN DỤNG
                                <br>Triệu việc làm mơ ước</p> <cite>&ndash; TRẦN ĐỖ THU HÀ</cite> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>