<div class="page_header">
    <div class="profile_carousel">
        <div>
            <img src="assets/images/profile/1.jpg" alt="">
        </div>
        <div>
            <img src="assets/images/profile/2.jpg" alt="">
        </div>
        <div>
            <img src="assets/images/profile/3.jpg" alt="">
        </div> 
        <div>
            <img src="assets/images/profile/4.jpg" alt="">
        </div>  
    </div>
    <div class="container">
        <ul class="bcrumbs">
            <li><a href="#">Đa dạng việc làm</a>
            </li>
            <li><a href="#">Công việc yêu thích</a>
            </li>
            <li>Chi tiết tin việc làm</li>
        </ul>
    </div>
</div>

<div class="directory-profile">
    <div class="dp-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 dph-info">
                    <img src="assets/images/{{vieclam.anh}}" class="profile-img" alt="" />
                    <div>
                        <h4>{{vieclam.tenCv}}</h4>
                        <p>{{vieclam.diachi}}</p>
                        <p>Qui mô: Từ 25 - 99 nhân viên</p>
                        <p>Hạn nộp hồ sơ: 20/12/2020 (Còn 2 tháng)</p>
                    </div>
                </div>
                <div class="col-md-4 dph-reviews">
                    <p><span>{{vieclam.ngaydang}}</span> 21 reviews</p>
                    <p class="dph-rec"> <span>Lượt xem: {{vieclam.luotxem}}</span> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="dp-info">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="dp-about">
                        <p class="space120">
                            <img src="assets/images/icons/1.png" alt="" />
                            <span class="lead">Mô tả công việc</span> 
                            <br>{{vieclam.motaCv}} 
                        </p>
                        <p class="space80">
                            <img src="assets/images/icons/2.png" alt="" />
                            <span class="lead">Chi tiết công ty</span> Công Ty TNHH TM&DV Tpi- Group
                            <br>Địa chỉ:Nguyễn Trọng Tuyển, P2, Q Tân Bình, TP.HCM<span class="highlight-dark"><br>Quy mô công ty:Từ 25 - 99 nhân viên</span><br>Website:chưa cập nhật
                        </p>
                        <p class="last">
                            <img src="assets/images/icons/3.png" alt="" />
                            <span class="lead">Hồ sơ bao gồm</span> - Đơn xin việc
                            <br>- Sơ yếu lý lịch <span class="highlight"></span> <br>- Hộ khẩu, chứng minh nhân dân và giấy khám sức khỏe.
                            <br>- Các bằng cấp có liên quan
                        </p>
                    </div>
                    <div class="dp-reviews">
                        <div class="dpr-header">
                            <div class="review-count">
                                4.9
                                <span class="star-ratings">
                            </span>
                                <p>211 nhận xét</p>
                            </div>
                            <a href="#" class="dpr-btn">
                                <img src="assets/images/icons/4.png" alt="" />Tạo hồ sơ</a>
                        </div>
                        <ul class="dpr-comments">
                            <li>
                                <img src="assets/images/profile/avatar_1.jpg" alt="" />
                                <p>
                                    <span class="lead">Địa điểm & dịch vụ tốt nhất
                                <span class="star-ratings">
                                </span>
                                    </span>
                                    Cảm ơn Website đã tư vấn, giới thiệu và tìm cho tôi được công việc như ý muốn,
                                    <br>phù hợp với bản thân. Tôi rất thích công việc hiện tại.
                                </p>
                                <div class="dpr-like">nguyenthuha0509</div>
                            </li>
                            <li>
                                <img src="assets/images/profile/avatar_2.jpg" alt="" />
                                <p>
                                    <span class="lead">Thật là một nơi đáng yêu
                                <span class="star-ratings">
                                </span>
                                    </span>
                                    Công việc rất tốt đúng với yêu thích và đam mê của tôi,
                                    <br>Rất cảm ơn website đã tìm cho tôi một công việc với mức lương khá ok. Tôi rất thích và yêu công việc này.
                                </p>
                                <div class="dpr-like">khanhhuyen2510</div>
                            </li>
                        </ul>

                        <input type="hidden" class="rating-tooltip-manual" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" data-fractions="3" />
                        <ul class="dpr-pager">
                            <li><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">...</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="call-rep">
                        <p class="lead">Liên hệ ngay để được tư vấn hỗ trợ!</p>
                        <p>Hẫy gọi cho chúng tôi</p>
                        <a href="#">0963 003 542</a>
                    </div>
                    <div class="dp-contact">
                        <h5>Liên hệ</h5>
                        <p>chúng tôi thường trả lời trong vòng 3 giờ</p>
                        <form>
                            <input type="text" placeholder="Họ tên">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Tiêu đề">
                            <textarea placeholder="Nội dung yêu cầu"></textarea>
                            <button type="submit">Gửi yêu cầu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
