<nav class="navbar-default navbar-fixed-top">
    <div class="container">
       
            <select formControlName="type" class="nav-trigger hidden-xs" data-toggle="modal" data-target="#myModal"  [formGroup]="form"  (ngSubmit)="onSubmit()" style="border:none">
                <option>Chọn ngành</option>
                <option *ngFor="let item of loaicvs" value="{{item.maloaiCv}}">{{item.tenloaiCv}}</option>
            </select>
     
        <div class="navbar-header"> <a href="./index.html" class="navbar-brand">365<span>Tìm</span>Việc</a> </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li> <a href="index.html">TRANG CHỦ</a> </li>
                <li class=" dropdown"> <a routerLink="/tao-ho-so">TẠO HỒ SƠ <span class="caret"></span></a>
                </li>
                <li> <a routerLink="/dang-nhap">NHÀ TUYỂN DỤNG</a> </li>
                <!-- <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Người tìm việc <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="directory_blog.html">Blog</a> </li>
                        <li><a href="directory_blog_single.html">Blog single</a> </li>
                    </ul>
                </li> -->
                <li> <a routerLink="/lien-he">LIÊN HỆ</a> </li>
            </ul>
        </div>
        <div class="header-widget pull-right">
            <ng-container *ngIf="!user">
                <a routerLink="/dang-ky" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Đăng ký</a>
                <a routerLink="/dang-nhap" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Đăng nhập</a>
            </ng-container>

            <a *ngIf="user" (click)="logout()" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">{{user.tenTk}}</a>
        </div>
    </div>
</nav>