<nav class="navbar-default navbar-fixed-top">
    <div class="container">
        <a href="#" class="nav-trigger hidden-xs" data-toggle="modal" data-target="#myModal"></a>
        <div class="navbar-header"> <a href="./index.html" class="navbar-brand">365<span>Tìm</span>Việc</a> </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li> <a href="index.html">TRANG CHỦ</a> </li>
                <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TẠO HỒ SƠ <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="directory_profile.html">Profile (Booking)</a> </li>
                        <li><a href="directory_profile_2.html">Profile (Discount Sale)</a> </li>
                        <li><a href="directory_coupons.html">Profile (Coupons)</a> </li>
                        <li><a href="directory_search_list.html">Search results list</a> </li>
                        <li><a href="directory_search.html">Search results grid</a> </li>
                        <li><a href="faq.html">Faq Page</a> </li>
                        <li><a href="wizard.html">Form Wizard</a> </li>
                    </ul>
                </li>
                <li> <a href="directory_pricing.html">NHÀ TUYỂN DỤNG</a> </li>
                <!-- <li class=" dropdown"> <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Người tìm việc <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="directory_blog.html">Blog</a> </li>
                        <li><a href="directory_blog_single.html">Blog single</a> </li>
                    </ul>
                </li> -->
                <li> <a routerLink="/lien-he">LIÊN HỆ</a> </li>
            </ul>
        </div>
        <div class="header-widget pull-right"> <a routerLink="/dang-ky" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Đăng ký</a>
            <ul class="dropdown-menu dropdown-menu-lg">
                <li class="notifi-title">My Coupons</li>
                <li class="list-group">
                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                        <div class="media">
                            <div class="media-left"> <img src="assets/images/cart1.jpg" alt=""> </div>
                            <div class="media-body clearfix">
                                <div class="media-heading">Up to 30%</div>
                                <p class="m-0"> <small>Shopname coupon</small> </p>
                            </div>
                        </div>
                    </a>
                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                        <div class="media">
                            <div class="media-left"> <img src="assets/images/cart2.jpg" alt=""> </div>
                            <div class="media-body clearfix">
                                <div class="media-heading">Up to 30%</div>
                                <p class="m-0"> <small>Shopname coupon</small> </p>
                            </div>
                        </div>
                    </a>
                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                        <div class="media">
                            <div class="media-left"> <img src="assets/images/cart3.jpg" alt=""> </div>
                            <div class="media-body clearfix">
                                <div class="media-heading">Up to 30%</div>
                                <p class="m-0"> <small>Shopname coupon</small> </p>
                            </div>
                        </div>
                    </a>
                    <!-- last list item -->
                    <a href="javascript:void(0);" class="list-group-item"> <small>Print all coupons</small> </a>
                </li>
            </ul> <a routerLink="/dang-nhap" class="h-login" data-toggle="modal" data-target="#myModal2" data-tab="login">Đăng nhập</a> </div>
    </div>
</nav>