<div class="page_header">
    <img src="assets/images/header/2.jpg" class="img-responsive" alt="" />
    <div class="container">
        <ul class="bcrumbs">
            <li><a href="#">Loocall guide</a>
            </li>
            <li>Blog</li>
        </ul>
    </div>
</div>

<div class="search-content blog-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="side-widget space30">
                    <h5>Filter Listings</h5>
                    <div class="side-cat2">
                        <form>

                            <select class="categorie">
                                <option>Categories</option>
                                <option>Restaurants</option>
                                <option>Caffe</option>
                                <option>Sport</option>
                            </select>
                            <input class="keyword" type="search" placeholder="Keyword">
                            <input class="location" type="search" placeholder="Location">
                            <input class="radius" type="search" placeholder="Radius (5 km)">
                            <input class="reviews" type="search" placeholder="Reviews count (2)" disabled>
                            <input type="checkbox" class="cbox" name="r-cbox" id="r-cbox1" />
                            <label for="r-cbox1">
                                <span class="star-ratings">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        </span>
                            </label>
                            <br/>
                            <input type="checkbox" class="cbox" name="r-cbox" id="r-cbox2" />
                            <label for="r-cbox2">
                                <span class="star-ratings">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o no"></i>
                        </span>
                            </label>
                            <br/>
                            <input type="checkbox" class="cbox" name="r-cbox" id="r-cbox3" />
                            <label for="r-cbox3">
                                <span class="star-ratings">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o no"></i>
                        <i class="fa fa-star-o no"></i>
                        </span>
                            </label>
                            <br/>
                            <button type="submit">Search listings</button>
                        </form>
                    </div>
                </div>
                <div class="side-widget space30">
                    <h5>Recently rated listings</h5>
                    <ul class="rlistings">
                        <li>
                            <a href="#">
                                <img src="assets/images/other/1.jpg" alt="" />
                            </a>
                            <h4><a href="#">Caffe bar Trattoria Due</a></h4>
                            <p>Italian restaurant and caffe</p>
                            <span class="star-ratings">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o no"></i>
                        </span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/other/2.jpg" alt="" />
                            </a>
                            <h4><a href="#">Group deal -70%</a></h4>
                            <p>Awesome offer</p>
                            <span class="star-ratings">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        </span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/other/3.jpg" alt="" />
                            </a>
                            <h4><a href="#">Room booking deal</a></h4>
                            <p>Book your hotel room for $40</p>
                            <span class="star-ratings">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o no"></i>
                        <i class="fa fa-star-o no"></i>
                        <i class="fa fa-star-o no"></i>
                        </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8 dir-search dir-search-list">
                <div class="search-filter">
                    <ul>
                        <li><a href="#">Featured</a>
                        </li>
                        <li><a href="#">Popular</a>
                        </li>
                        <li><a href="#">Best rated</a>
                        </li>
                        <li><a href="#">Most recent</a>
                        </li>
                        <li>
                            <a href="directory_search.html">
                                <img src="assets/images/icons/grid.png" alt="" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/icons/list.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="listing space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/list/2/1.jpg">

                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Relae Caffe, Copenhagen, <br>Denmark</a></h4>
                                <p class="li-category">Caffe,restaurant</p>
                                <p class="li-location">73 Sarajevska,Zagreb Croatia</p>
                            </div>
                            <div class="list-ratings-wrap">
                                <div class="list-ratings2">4.9</div>
                                <p>143 ratings</p>
                                <a href="#">Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="listing space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/list/2/2.jpg">

                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Marrakech Magic Theater, <br>Croatia</a></h4>
                                <p class="li-category">Caffe,Bakeries</p>
                                <p class="li-location">73 Sarajevska,Zagreb Croatia</p>
                            </div>
                            <div class="list-ratings-wrap">
                                <div class="list-ratings2">4.6</div>
                                <p>28 ratings</p>
                                <a href="#">Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="listing space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/list/2/3.jpg">

                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Tadu Ethiopian Kitchen and <br>late night caffe</a></h4>
                                <p class="li-category">Caffe,restaurant</p>
                                <p class="li-location">73 Sarajevska,Zagreb Croatia</p>
                            </div>
                            <div class="list-ratings-wrap">
                                <div class="list-ratings2">5.0</div>
                                <p>12 ratings</p>
                                <a href="#">Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="listing space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/list/2/4.jpg">

                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Michael Bruno Luggage & <br>outlet store</a></h4>
                                <p class="li-category">Caffe,restaurant</p>
                                <p class="li-location">73 Sarajevska,Zagreb Croatia</p>
                            </div>
                            <div class="list-ratings-wrap">
                                <div class="list-ratings2">5.0</div>
                                <p>12 ratings</p>
                                <a href="#">Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="listing space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/list/2/5.jpg">

                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">Captain Kirk's San Francisco <br>Sailing</a></h4>
                                <p class="li-category">Caffe,restaurant</p>
                                <p class="li-location">73 Sarajevska,Zagreb Croatia</p>
                            </div>
                            <div class="list-ratings-wrap">
                                <div class="list-ratings2">5.0</div>
                                <p>12 ratings</p>
                                <a href="#">Message</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="listing space30">
                            <div class="listing-img bg-image" data-image-src="assets/images/list/2/6.jpg">

                                <div class="li-overlay">
                                    <div class="li-overlay-inner">
                                        <a href="#" class="mail"></a>
                                        <a href="#" class="menu"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-info">
                                <h4 class="li-name"><a href="#">San Francisco Fishing Charter <br>relax</a></h4>
                                <p class="li-category">Caffe,restaurant</p>
                                <p class="li-location">73 Sarajevska,Zagreb Croatia</p>
                            </div>
                            <div class="list-ratings-wrap">
                                <div class="list-ratings2">5.0</div>
                                <p>12 ratings</p>
                                <a href="#">Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="dpr-pager">
                    <li><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">...</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

